.text-montserrat {
    font-family: 'Montserrat', sans-serif;
    color: rgb(31, 31, 31);
}
.text-source {
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    margin-top: 80px;
    font-size: 56px;
    width: 450px;
}
a {
    text-decoration: none;
    color: rgb(139, 98, 98);
}
.wrap-cv {
    width: 900px;
    margin: auto; 
    display: flex;
}
.photo-cv img {
    width: 200px;
    object-fit: cover;
}
.photo-cv {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.wrap-photo-cv {
    padding-top: 50px;
    background-color: rgb(209, 184, 184);
    width: 300px;
    height: 250px;
    margin: 50px 30px 0 50px;
}
header {
    background: rgb(139, 98, 98);
}
.name-cv{
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    background: rgb(209, 184, 184);
    width: 240px;
    padding: 0 30px;
    margin-right: 30px;
    margin-left: 50px;
}
.wrap-contacts {
    display: flex;
    flex-wrap: wrap;
}
article div img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
article h2 {
    border-bottom: 2px solid rgb(139, 98, 98);
    margin-top: 30px;
    padding-bottom: 8px;
}
h3 {
    margin-top: 0;
}
ul {
    margin-bottom: 30px;
}
.wrap-contacts div {
    width: 200px;
}
main {
    background: rgb(219, 219, 219);
}
.wrap-profile {
    width: 460px;
}
section h2 {
    background: rgb(139, 98, 98);
    padding: 10px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(179, 179, 179);
}
footer img {
    width: 60px;
    margin: 0 10px;
}
footer p {
    margin-left: 10px;
}